.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.paper {
  position: absolute;
  width: 500px;
  background-color: white;
}

#NavButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
